
#sideContainer {
    display: flex;
    flex-direction: column;
    width: 18%;
    margin-left: 5px;
}

#calendar {
    height: 85vh;
    width: 80%;
}

#container {
    display: flex;
    padding: 5px;
}

.pickerBox {
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 10px;
    padding-top: 12px;
}

.boxLabel {
    margin-bottom: -9px;
    background: white;
    margin-left: 10px;
    z-index: 10;
    display: table;
    padding: 0 3px 0 2px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.option:hover {
    background: #ededed;
    cursor: pointer;
}
