.customEventModal button {
    border: none;
    background: #c1c1c1;
    padding: 5px;
}

.customEventModal button:hover {
    background: #ddd;
}

.customEventModal * {
    margin: 3px 0 3px 0;
}

.customEventModal:first-child {
    margin: -6px 0 6px 0;
}

.customEventModal:last-child {
    margin: 3px 0 0 0;
}

.customEventModal table {
    border-collapse: collapse;
    
}

.errorPanel {
    background: #ffa5a5;
}

.current-day {
    background: #89c2f2;
}
