.editEventModal button, input[type=submit] {
    border: none;
    background: #c1c1c1;
    padding: 5px;
}

.editEventModal button:hover {
    background: #ddd;
}

.editEventModal * {
    margin: 3px 0 3px 0;
}

.editEventModal:first-child {
    margin: -6px 0 6px 0;
}

.editEventModal:last-child {
    margin: 3px 0 0 0;
}

.editEventModal table {
    border-collapse: collapse;
    
}

.errorPanel {
    background: #ffa5a5;
}

.current-day {
    background: #89c2f2;
}
