.optionSidePanel img {
    height: 17px;
    margin: -1px 2px 0 0;
}

.optionSidePangel>* {
    display: inline-table;
}

.optionSidePanel img:last-child {
    margin-right: 0;
}

.optionMainPanel {
    display: inline;
}

.modalPanel {
    flex-grow: 1;
    margin: 5px;
}

.rc-color-picker-trigger {
    height: 10px;
    width: 10px;
    margin-right: 2px;
}

.panelTable {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    display: inline-table;
}

.panelTable tbody>tr>td:nth-child(2) {
    text-align: center;
}

.panelTable tbody>tr>td:nth-child(3) {
    text-align: center;
}

.panelTable tbody>tr:hover {
    background: #ededed;
}


/* TODO: https://stackoverflow.com/questions/13059190/
   html5-css3-circle-with-partial-border */
#closeBubble {
    border-radius: 50%;
    background: white;
    position: absolute;
    right: -30px;
    top: -30px;
    width: 50px;
    height: 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    border: 2px solid #ddd;
    cursor: pointer;
}

/* TODO: use arc to give a partial border */
.__arc {
    position: absolute;
    text-align: center;
    top: 15px;
    right: 19px;
}

.arc {
    overflow: hidden;
    position: absolute;
    /* make sure top & left values are - the width of the border */
    /* the bottom right corner is the centre of the parent circle */
    top: -2px;
    right: 50%;
    bottom: 50%;
    left: -2px;
    /* the transform origin is the bottom right corner */
    transform-origin: 100% 100%;
    /* rotate by any angle */
    /* the skew angle is 90deg - the angle you want for the arc */
    transform: rotate(45deg) skewX(30deg);
}

.arc:before {
    box-sizing: border-box;
    display: block;
    border: solid 2px #ddd;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    transform: skewX(-30deg);
    content: '';    
}

.confirmButton {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

.confirmButton:focus {
    outline: none;
}

.optionsModal {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    filter: drop-shadow(10px 10px 5px #9f9f9f);    
}

.optionsModal, .optionsModalOverlay:focus {
    outline: none;
}

.btn-danger:focus {
    outline: none;
}

.optionsMenuModal {

}

.easy-edit-wrapper {
    display: inline;
    margin-right: 15px;
}

.modal_container {
    width: auto;
}

.savePanel {
    display: flex;
    flex-direction: column;
}

.savePanel * {
    margin: 4px 0px 4px 0px;
}

.savePanel:first-child {
    margin-top: 0;
}

.savePanel:last-child {
    margin-bot: 0px;
}

.fileButton {
    background: #c3bebe;
    padding: 4px;
    text-align: center;
    border-radius: 5px;
    border: none;
    color: black;
}

.fileButton:hover {
    background: #d1d1d1;
}
